
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

/*#ID_router_txt1{padding-left:4px !important;}
#ID_router_txt2{padding-left:4px !important;}
#ID_router_txt3{padding-left:4px !important;}
#ID_router_txt4{padding-left:4px !important;}*/