@import url('../../../common/styles/media2.css');

#ID_s2_txt01{
	background-color: #FFFFFF !important;
	box-shadow: 1px 1px 1px #888 !important;
	border-radius: 2px !important;
	padding: 3px !important;
}