
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

#ID_txt01,#ID_txt02,#ID_txt03 {
	background-color: #FFFFFF;
	padding-left: 8px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	box-shadow: 1px 1px 1px 1px #888888;
}