
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

.orangeCallOut{padding-right:3px;}

#ID_s1_pop01A{ 
    background-color:#FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    padding:4.5px 2px;
    position: absolute;
    text-align: center;
    width: 150.25px;
    left:15px;
    top: 50px;
    z-index:1
}
#ID_s1_pop02A{
    background-color:#FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    padding:4.5px 2px;
    position: absolute;
    text-align: center;
    width: 150.25px;
    left:5px;
    top: 160px;
    z-index:1
}
#ID_s1_pop02B{
    background-color:#FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    padding:4.5px 2px;
    position: absolute;
    text-align: center;
    width: 150.25px;
    left:168px;
    top: 160px;
    z-index:1
}
#ID_s1_pop03A{
    background-color:#FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    padding:4.5px 2px;
    position: absolute;
    text-align: center;
    width: 150.25px;
    left:28px;
    top: 35px;
    z-index:1
}
#ID_s2_pop01{
    background-color:#FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    padding:4.5px 2px;
    position: absolute;
    text-align: center;
    width: 150.25px;
    left:28px;
    top: 163px;
    z-index:1
}
#arrow1{position: absolute; top: 58px; left: 42px; z-index: 0;}
#arrow1 img{ height: 49.7px;width: 19.55px}


#arrow2{position: absolute; top: 115px; left: 80px; z-index: 0;}
#arrow2 img{ height: 59px;width: 155px}

#arrow3{position: absolute; top: 58px; left: 117px; z-index: 0;}
#arrow3 img{ height: 49.7px;width: 19.55px}

#arrow4{position: absolute; top: 128px; left: 102px; z-index: 0;}
#arrow4 img{ height: 36px;width: 25px}
