@import url('../../../common/styles/media2.css');

#ID_router_txt1 span{
color:#f26200;
font-weight:bold;


}
#ID_router_txt1, #ID_router_txt2{
overflow-x:hidden !important;
overflow-y:hidden !important;
}


#ID_router_txt2 span{
color:#f26200;
font-weight:bold;


}
#ID_output,#ID_output1{
	color:#fff !important;
}