
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');
.alg{
	letter-spacing: -0.9px !important;
	margin-left: 5px !important;
}
.orange_Col{
	color: #F68026 !important;
}