
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');


.routerOutput{
	border: 2px solid #000000;
	background-color:#E9E7E8 !important;
	padding:5px 5px;
	font-family: Courier New !important;
 }

 .outputText{ 
    font-family: Courier New !important;
	
 }
.orangeText{
   color:#F68026;
}
.boldText{
   font-weight:bold !important;
}

@media only screen and (device-width: 768px) {
#ID_static_4{
	letter-spacing: -0.7px;
}
}
